OrionCeramica/OrionCeramica/obj/Debug/
OrionCeramica/OrionCeramica/.vs/OrionCeramica/v15/.suo
OrionCeramica/OrionCeramica/bin/HealthRApp.dll
OrionCeramica/OrionCeramica/bin/HealthRApp.pdb
OrionCeramica/OrionCeramica/bin/OrionCeramica.dll
OrionCeramica/.vs/OrionCeramica/v15/.suo
OrionCeramica/OrionCeramica/bin/OrionCeramica.pdb
